div.new_post
  form(method="post")
    div
      span Title :
      input(class="edit_title", type="text", name="title")
    div
      span Body :
      textarea(class="edit_body", name="body", rows=20)
    div.submit
      input(class="submitbutton", type="submit", value="Send")
