/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  float: left;
}
html, body {
  height: 100%;
}
div.center {
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
body {
  font: 62.5% Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 25px;
  color: #808080;
}
body h1 {
  font-size: 89px;
  line-height: 89px;
  color: #000000;
}
body h2 {
  font-size: 21px;
  line-height: 21px;
}
body .landing .title {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  padding-top: 250px;
  padding-bottom: 25px;
}
body .landing .picture {
  display: inline;
  float: left;
  overflow: hidden;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
}
body .menuback {
  display: inline;
  float: left;
  overflow: hidden;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  background-color: #000000;
  min-height: 100%;
  min-width: 240px;
  margin: 0;
}
body .menuback .menubar {
  width: 240px;
  float: right;
}
body .menuback .menubar h1 {
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}
body .menuback .menubar ul {
  padding: 25px 0px 25px 50px;
}
body .menuback .menubar ul li {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
}
body .menuback .menubar ul li a {
  text-decoration: none;
  color: #ffffff;
}
body .menuback .menubar ul li .selected {
  background-color: #ffffff;
}
body .menuback .menubar ul li .selected a {
  color: #000000;
}
body .currentback {
  display: inline;
  float: left;
  overflow: hidden;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: #ffffff;
  min-height: 100%;
  min-width: 720px;
  margin: 0;
  padding: 0;
}
body .currentback .current_page {
  float: left;
}
body .currentback .current_page .post {
  font: 1.5em Georgia, Times, 'Times New Roman', serif;
  line-height: 1.8em;
}
a {
  color: #00B7FF;
}
